html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.list__item {
  flex: 1 1 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  margin-bottom: 30px;
}

.card__image {
  max-width: 100%;
}

.card__title {
  margin-top: 10px;
  font-size: 20px;
}